<h1 style="padding: 1rem 1rem 0.5rem 1rem; text-align: center;">Contact Us</h1>
<div class="center-container">
    <p style="padding: 0.5rem 1rem; text-align: justify; font-size: 1.0rem; color: #616161; text-align: center; max-width: 600px;">
        We'd love to hear from you! Whether you have questions, feedback, or just want to say hello,
        feel free to get in touch with us. Our team is here to assist you in any way we can. Your input is valuable to us and helps us improve our services.
      </p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput required placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput required placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput required placeholder="Message" formControlName="message"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" style="width: 100%;" [disabled]="!contactForm.valid">Submit</button>
    </form>
</div>
