.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust as needed */
}

h2 {
    margin-bottom: 20px;
}

mat-form-field{
    width: 100% !important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
}
