<div class="login-dialog-container">
    <h1 mat-dialog-title>Please Sign-in</h1>
    <p mat-dialog-content> Please log in to access this feature. Logging in will allow you to proceed and enjoy all the benefits of our platform. If you don't have an account yet, you can easily create one by clicking the 'Sign Up' button. Thank you for choosing our service!</p>
    <div mat-dialog-actions style="width: 100%; display: flex; justify-content: center;">
        <button style="max-width: 10rem;" mat-raised-button color="primary" routerLink="/login" mat-dialog-close>Sign In</button>
    </div>
</div>  