.article-to-video-page-container{
    width: 100%;
}

.article-to-video-stepper{
    width: 96%;
    margin: 2%;
    height: fit-content
}

.selected-image-container{
    height: 200px;
    width: 100%;
    background-color: #b8b8b8;
    padding: 0.5rem;
    overflow: auto;
}

.final-selected-image-container{
    height: 100px;
    width: 100%;
    background-color: #b8b8b8;
    padding: 0.5rem;
    overflow: auto;
}


.add-image-container{
    display: flex;
    flex-direction: column;
}

.uploaded-and-selected-image{
    max-width: 200px;
    max-height: 180px;
    width: auto;
    height: auto;
}

.final-uploaded-and-selected-image{
    max-width: 100px;
    max-height: 90px;
    width: auto;
    height: auto;
}


.generated-image-container{
    background-color: #b8b8b8;
    width: calc(100% - 1rem);
    padding: 0.5rem;
    height: fit-content
}

.selected-image-wrapper{
    background-color: aliceblue;
    margin: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    position: relative;
    transition: transform 0.3s;
}

.selected-image-wrapper:hover {
    transform: scale(1.1); /* Increase the scale to make the image larger on hover */
    z-index: 1;
}

.generated-image{
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.custom-tooltip {
    max-width: 300px; /* Adjust the max width of the tooltip as needed */
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging .uploaded-and-selected-image:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.final-audio-container{
    padding: 1rem;
    background-color: aliceblue;
    margin-top: 1rem;
}

.generate-voice-over{
    display: flex !important;
    width: 100%;
}

.normal-voice-over{
    width: 50%;
}

.final-audio-player{
    background-color: #3F50B5;
    border-radius: 30px;
    padding: 0.2rem;
    width: calc(100% - 0.6rem);
}

.sample-audio-player{
    background-color: #000000;
    border-radius: 30px;
    padding: 0.2rem;
}


@media screen and (max-width: 750px) {

    .generate-voice-over{
        flex-direction: column;
    }

    .normal-voice-over{
        width: 100%;
    }
    

  }