/* video-list.styles.css */

.video-list-container {
    margin-left: 1%;
    margin-right: 1%;   
}


.video-list-item {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ddd;
    background-color: #dee3f9;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.video-list-item-preview {
    flex: 0.5;
    max-height: 9rem;
    max-width: 16rem;
}

.video-list-item-preview video {
    max-height: 9rem;
    max-width: 16rem;
    width: 100%;
    border-radius: 0.2rem;
}

.video-list-item-details {
    display: flex;
    align-items: left;
}


.video-list-item-buttons {
    flex: 1;
    max-width: 15rem;
    align-items: flex-end;
}

.video-list-item-buttons button {
    width: 75%;
}

.video-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 1rem;
}

.video-name {
    font-size: 1.3rem;
    color: #666;
}

.video-date {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    color: #777;
}

.video-status{
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-status-icon{
    margin-left: 0.3rem;
    font-size: 1.2rem; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}