/* app.component.css */

/* Default styling */
.main-page-container {
    height: 100vh;
  }
  
  .main-side-nav {
    width: 350px; /* Set your desired width */
  }

  .close-sidebar{
    display: none;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 750px) {
    .main-side-nav {
      width: 80%; /* Adjust the width for smaller screens */
    }

    .close-sidebar{
      display: flex;
    }

  }


  

  .mat-toolbar button.mat-fab {
    margin-right: 10px; /* Adjust the desired spacing */
  }
  
  /* Apply styles to the toolbar title */
  .toolbar-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-left: 20px;
  }

  .icon-image {
    width: 30px; /* Adjust the width as needed */
    height: 26px; /* Adjust the height as needed */
    margin-left: 10px; /* Add spacing between icon and text */
  }
  

