<mat-sidenav-container class="main-page-container" >

  <mat-sidenav #sidenav class="main-side-nav" mode="side" [opened]="isSidenavOpen" [mode]="sidenavMode">

    <mat-list>
      <mat-list-item style="background-color: #fad7d7;" (click)="isSidenavOpen = false" class="close-sidebar">
        <mat-icon matListItemIcon style="color: red; transform: rotate(45deg);">add_circle</mat-icon>
        <span>Close Sidebar</span>
      </mat-list-item>
      <div mat-subheader>Account</div>
      <mat-list-item *ngIf="!authService.userSubject.getValue()" routerLink="/login" routerLinkActive="active" class="mat-list-item-center-text-with-icon">
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Sign-In</div>
        <div matListItemLine>To keep track of your videos</div>
      </mat-list-item>
      <mat-list-item *ngIf="authService.userSubject.getValue()" routerLink="/account" routerLinkActive="active" class="mat-list-item-center-text-with-icon">
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle><b>{{ authService.userSubject.getValue()?.email }}</b></div>
        <div matListItemLine>Your account</div>
      </mat-list-item>
      <mat-list-item (click)="signOutUser()" *ngIf="authService.userSubject.getValue()" class="mat-list-item-center-text-with-icon">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <div matListItemTitle>Sign Out</div>
        <div matListItemLine>Sign out of this session</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div mat-subheader>Tools</div>
      <mat-list-item *ngFor="let item of sideNavToolsIconList" routerLink="{{ item.router_link }}" >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span>{{ item.text }}</span>
        <img *ngIf="item.imagePath" [src]="item.imagePath" alt="{{ item.text }}" class="icon-image" [matTooltip]="item.toolTipText">
      </mat-list-item>

      <mat-divider></mat-divider>

      <div *ngIf="authService.userSubject.getValue()" mat-subheader>Dashboard</div>
      <mat-list-item *ngIf="authService.userSubject.getValue()" routerLink="/my-videos"  >
        <mat-icon matListItemIcon>folder</mat-icon>
        <span>My Video</span>
      </mat-list-item>
      <mat-list-item *ngIf="authService.userSubject.getValue()" >
        <mat-icon matListItemIcon>folder</mat-icon>
        <span>My Audio</span>
      </mat-list-item>

      <mat-divider></mat-divider>

      <div mat-subheader>Support</div>
      <mat-list-item routerLink="/contact">
        <mat-icon matListItemIcon>message</mat-icon>
        <span>Contact us</span>
      </mat-list-item>
      <mat-list-item routerLink="/how-to-use">
        <mat-icon matListItemIcon>contact_support</mat-icon>
        <span>How to use ?</span>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button  (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">The AI Video Generator</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>